/**
 * Any additional styles that need to be applied across the Dallas Fair sites
 */
html {
	font-size: 10px;
}

.header-image .site-title > a {
	background: none !important;
}

.header-image .site-header .wrap {
	background-image: url(//dallaspsychicfair.com/wp-content/uploads/2013/09/dpf-header2.jpg);
	background-position: left top;
	background-repeat: no-repeat;
}

.nav-primary {
	background: #e2e2e2;
}

.header-image .site-header .widget-area {
	padding-top: 10px;
	padding-top: 1rem;
}

.genesis-nav-menu a, 
.nav-primary .genesis-nav-menu a {
	padding: 10px 20px;
	padding: 1rem 2rem;
	color: #00006f;
}

.nav-primary .sub-menu a:hover {
	color: #fff;
}

.nav-primary a:hover, 
.nav-primary .current-menu-item > a, 
.nav-primary .genesis-nav-menu a:hover, 
.nav-primary .genesis-nav-menu .current-menu-item > a, 
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #acacff;
	background: #333;
}

.header-widget-area .genesis-nav-menu a {
	color: #333;
	padding: 0 15px;
	padding: 0 1.5rem;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 600;
}

.entry-content a {
	color: #a03d76;
}

.entry-content a:hover, 
.entry-content a:focus {
	color: #c668b6;
}

.reader-summary .avatar {
	float: none;
}

.hidden {
	width: 0 !important;
	height: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
}